<!-- Start Page Content -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title text-themecolor">Indications</h4>
                                    <!-- Nav tabs -->
                                    <div class="vtabs">
                                        <ul class="nav nav-tabs tabs-vertical" role="tablist">
                                            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home4" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">A propos</span> </a> </li>
                                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile4" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Cadrage</span></a> </li>
                                        
                                        </ul>
                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="home4" role="tabpanel">
                                                <div class="">
                                                    <p>L’amélioration des conditions de vie des citoyens   passe indubitablement par un suivi budgétaire rigoureux, gage de clarté, de justice et d’équité sociale. Le suivi budgétaire est en effet un moyen pour les citoyens de connaître les ressources ainsi que les dépenses prévues, adoptées et exécutées. Sous ce rapport, élaborer un instrument de suivi du budget constitue un facteur de croissance économique et de transparence.</p>
<p>Les Etats en voie de développement ont un classement très modeste dans les mécanismes d’évaluation de la bonne gouvernance financière. L’illustration est fournie par les faibles indices de Transparence (43/100) et de Participation budgétaire (13/100) du Sénégal au titre de l’Enquête sur le Budget ouvert de 2015.</p>
<p>C’est dans ce cadre que l’ONG 3D a entamé la mise en œuvre de l’OGP sur
financement de la Fondation Hewlett. Un outil informatique standardisé de suivi du budget dénommé OGT.</p>
                                                </div>
                                            </div>
                                            <div class="tab-pane p-20" id="profile4" role="tabpanel">
                                                <div class="">
                                                    <p> L’utilisation de l’outil facilite l’engagement des citoyens pour mener des plaidoyers visant à améliorer la qualité des services publics de base. L’OGT au demeurant est un instrument de suivi du rythme d’exécution des crédits budgétaires et de la qualité de la mise en œuvre des politiques publiques. L’OGT matérialise la gestion axée sur les résultats par la définition des indicateurs des programmes ministériels. Il faut donc recourir à une méthodologie spécifique pour atteindre ces résultats</p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                      
                        
                </div>
                <!-- End PAge Content -->
            </div>
            
            <!-- End Container fluid  -->
              
<p id="notice"><%= notice %></p>
<!-- Container fluid  -->
<div class="container-fluid">
    <!-- Start Page Content -->
    <div class="card-header bg-warning center">
        <h2 class="m-b-0 text-white">Ministères</h2>
    </div>
    <% @ministere.each do |f|%>
    <div class="row">
        <div class="col-lg-12">
            
            <div class="card">
                
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <a href="" class="btn btn-info btn-flat btn-addon"><i class="fa fa-table"></i> Présentation générale des programmes du Ministere: <%= f.nom%></a> 
                        </div>
                                    
                    </div>
                    
                    <div class="card-content">
                        <div class="nestable">
                            <div class="dd" id="nestable">
                                <ol class="dd-list">
                                     <% @programmes.each do |t|%> 
                                        <% if t.ministere_id == f.id %> 
                                    <li class="dd-item" data-id="1">
                                        <div class="dd-handle">Programme: <span class="text-themecolor marge"><%= t.nom%></span></div>

                                            

                                            <ol class="dd-list">
                                                    
                                                <% @actionss.each do |action|%>
                                                    <% if action.programme_id == t.id %>
                                                    <li class="dd-item" data-id="5">
                                                        <div class="dd-handle">Action: <span class="text-themecolor marge"><%= action.nom %></span></div>
                                                           

                                           
                                                            <ol class="dd-list">
                                                                <% @resultat_attendu.each do |ra|%>
                                                                 <% if ra.acte_id == action.id %>

                                                                <li class="dd-item" data-id="6">
                                                                    <div class="dd-handle">Résultat attendu: <span class="text-themecolor"><%= ra.nom %></span>
                                                                    </div>


                                                                        <ol class="dd-list">
                                                                            <% @activite.each do |activite|%>
                                                                             <% if activite.resultat_attenu_id == ra.id %>
                                                                            <li class="dd-item" data-id="6">
                                                                                <div class="dd-handle">Activité: <span class="text-themecolor"><%= activite.nom %></span>   
                                                                                </div>
                                                                                        

                                                                                        <ol class="dd-list">
                                                                                            <% @indicateur.each do |indicateur|%>
                                                                                            <% if indicateur.activite_id == activite.id %>
                                                                                            <li class="dd-item" data-id="6">
                                                                                                <div class="dd-handle">Indicateur: <span class="text-themecolor"><%= indicateur.nom %></span> 
                                                                                                 </div>
                                                                                              
                                                                                               
                                                                                            </li>
                                                                                            <% end %>
                                                                                            <% end %>

                                                                                            <% @budget.each do |b|%>
                                                                                            <% if b.budgetable_id == activite.id  && b.budgetable_type == activite.class.name%>
                                                                                            <li class="dd-item" data-id="6">
                                                                                            
                                                                                                            <div class="dd-handle">Budget prévisionnel alloué: <span class="text-themecolor"><%= b.prevision %></span>  
                                                                                                            </div>
                                                                                                            <!--Bouton de paramétrage -->
                                                                                                


                                                                                                            <h5 class="m-t-30">Trimestre 1
                                                                                                                <span class="pull-right"><%= b.trimestre1 %> - <%= (b.trimestre1*100)/ b.prevision %> %</span>  
                                                                                                            </h5>
                                                                                                            <div class="progress ">
                                                                                                                <div class="progress-bar bg-themecolor wow animated progress-animated" style="width: <%= (b.trimestre1*100)/b.prevision%>%; height:6px;" role="progressbar"> </div>
                                                                                                            </div>

                                                                                                            <h5 class="m-t-30">Trimestre 2
                                                                                                                <span class="pull-right"><%= b.trimestre2 %> - <%= (b.trimestre2*100)/ b.prevision %> %</span>
                                                                                                            </h5>
                                                                                                            <div class="progress ">
                                                                                                                <div class="progress-bar bg-success wow animated progress-animated" style="width: <%= (b.trimestre2*100)/b.prevision%>%; height:6px;" role="progressbar"> </div>
                                                                                                            </div>

                                                                                                            <h5 class="m-t-30">Trimestre 3
                                                                                                                <span class="pull-right"><%= b.trimestre3 %> - <%= (b.trimestre3*100)/ b.prevision %> %</span>
                                                                                                            </h5>
                                                                                                            <div class="progress ">
                                                                                                                <div class="progress-bar bg-warning wow animated progress-animated" style="width: <%= (b.trimestre3*100)/b.prevision%>%; height:6px;" role="progressbar"> </div>
                                                                                                            </div>

                                                                                                            <h5 class="m-t-30">Trimestre 4
                                                                                                                <span class="pull-right"><%= b.trimestre4 %> - <%= (b.trimestre4*100)/ b.prevision %> %</span>
                                                                                                            </h5>
                                                                                                            <div class="progress ">
                                                                                                                <div class="progress-bar bg-danger wow animated progress-animated" style="width: <%= (b.trimestre4*100)/b.prevision%>%; height:6px;" role="progressbar"> </div>
                                                                                                            </div>

                                                                                                </li>
                                                                                                <% end %>
                                                                                                <% end %> 
                                                                                        </ol>
                                                                            </li>
                                                                             <% end %>
                                                                            <% end %> 
                                                                        </ol>
                                                                </li>
                                                            <% end %>
                                                            <% end %>     
                                                            </ol>
                                                    </li>
                                                    <% end %>
                                                    <% end %>    
                                            </ol>
                                    </li><!-- dd-item -->
                                </br>
                                <% end %>
                                <% end %>
                                </ol><!-- dd-list -->
                            </div> <!--dd -->
                        </div><!-- nestable -->
                    </div><!--card content -->
                </div> <!--card body -->
            </div><!--card -->
            
        </div>
    </div>
        
    <% end %>
</div>    
                
<!-- Start Page Content -->

<!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="card-header bg-warning center">
                                <h2 class="m-b-0 text-white">Titres</h2>
                        </div>
            <% @ministere.each do |f|%>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">

                            <div class="card-body">

                                <div class="row">
                                    <div class="col-lg-12">
                                        <a href="" class="btn btn-info btn-flat btn-addon"><i class="fa fa-table"></i>Présentation générale des titres du Ministère: <%= f.nom %></a> 
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="nestable">
                                        <div class="dd" id="nestable">
                                            <ol class="dd-list">
                                                <% @titres.each do |t|%>
                                                <% if t.ministere_id == f.id %>
                                                <li class="dd-item" data-id="1">
                                                    <div class="dd-handle ">Titre: <span class="text-themecolor"><%= t.nom %></span> </div>
                                                    <ol class="dd-list">
                                                        <% @budget.each do |b|%>
                                                        <% if b.budgetable_id == t.id && b.budgetable_type == t.class.name%>
                                                        <li class="dd-item" data-id="5">
                                                            <div class="dd-handle">Budget prévisionnel alloué: <span class="text-themecolor"><%= b.prevision %></span>  
                                                                                                            </div>
                                                                                                            


                                                                                                        <h5 class="m-t-30">Trimestre 1
                                                                                                                <span class="pull-right"><%= b.trimestre1 %> - <%= (b.trimestre1*100)/ b.prevision %> %</span>  
                                                                                                            </h5>
                                                                                                            <div class="progress ">
                                                                                                                <div class="progress-bar bg-themecolor wow animated progress-animated" style="width: <%= (b.trimestre1*100)/b.prevision%>%; height:6px;" role="progressbar"> </div>
                                                                                                            </div>

                                                                                                            <h5 class="m-t-30">Trimestre 2
                                                                                                                <span class="pull-right"><%= b.trimestre2 %> - <%= (b.trimestre2*100)/ b.prevision %> %</span>
                                                                                                            </h5>
                                                                                                            <div class="progress ">
                                                                                                                <div class="progress-bar bg-success wow animated progress-animated" style="width: <%= (b.trimestre2*100)/b.prevision%>%; height:6px;" role="progressbar"> </div>
                                                                                                            </div>

                                                                                                            <h5 class="m-t-30">Trimestre 3
                                                                                                                <span class="pull-right"><%= b.trimestre3 %> - <%= (b.trimestre3*100)/ b.prevision %> %</span>
                                                                                                            </h5>
                                                                                                            <div class="progress ">
                                                                                                                <div class="progress-bar bg-warning wow animated progress-animated" style="width: <%= (b.trimestre3*100)/b.prevision%>%; height:6px;" role="progressbar"> </div>
                                                                                                            </div>

                                                                                                            <h5 class="m-t-30">Trimestre 4
                                                                                                                <span class="pull-right"><%= b.trimestre4 %> - <%= (b.trimestre4*100)/ b.prevision %> %</span>
                                                                                                            </h5>
                                                                                                            <div class="progress ">
                                                                                                                <div class="progress-bar bg-danger wow animated progress-animated" style="width: <%= (b.trimestre4*100)/b.prevision%>%; height:6px;" role="progressbar"> </div>
                                                                                                            </div>
                                                        </li>
                                                        <%end%>
                                                        <%end%>
                                                    </ol>
                                                  
                                                </li>
                                                 <%end%> 
                                                 <%end%> 
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <% end %>
            </div> 
 
                
  

            

