<p id="notice"><%= notice %></p>
<!-- Container fluid  -->
<div class="container-fluid">
    <!-- Start Page Content -->
    <% @ministere.each do |f|%>
    <div class="row">
        <div class="col-lg-12">
            
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <a href="" class="btn btn-info btn-flat btn-addon"><i class="fa fa-table"></i> Vue en mode édition des programmes du Ministere: <%= f.nom%></a> 
                        </div>
                                    
                    </div>
                    
                    <div class="card-content">
                        <div class="nestable">
                            <div class="dd" id="nestable">
                                <ol class="dd-list">
                                     <% @programmes.each do |t|%> 
                                        <% if t.ministere_id == f.id %> 
                                    <li class="dd-item" data-id="1">
                                        <div class="dd-handle">Programme: <span class="text-themecolor marge"><%= t.nom%></span></div>

                                            <!--Bouton de paramétrage -->
                                            <span class="marge"></span>

                                            <%= link_to 'Information', programme_path(t.id), :class => 'text-danger' %>      <i class="fa fa-info-circle"></i> 

                                            - <%= link_to 'Modifier', edit_programme_path(t.id), :class => 'text-danger ', data: {confirm: "Vous êtes sur de vouloir modifier cette plateforme?"}%> <i class="fa fa-edit"></i>

                                            - <%= link_to 'Effacer', plateforme_path(t.id), :class => 'text-danger', method: :delete, data: {confirm: "Vous êtes sur de vouloir supprimer cette plateforme?"}%> <i class="fa fa-close"></i>

                                            - <%= link_to 'Ajouter une action', new_acte_path(programme_id: t.id), :class => 'text-danger', data: {confirm: "Vous êtes sur de vouloir ajouter une action?"}%> <i class="fa fa-plus-square"></i>

                                            <!-- Fin bouton de paramétrage -->

                                            <ol class="dd-list">
                                                    
                                                <% @actionss.each do |action|%>
                                                    <% if action.programme_id == t.id %>
                                                    <li class="dd-item" data-id="5">
                                                        <div class="dd-handle">Action: <span class="text-themecolor marge"><%= action.nom %></span></div>
                                                            
                                                            <!--Bouton de paramétrage -->
                                                            <span class="marge"></span>

                                                            <%= link_to 'Information', acte_path(action.id), :class => 'text-danger' %>      <i class="fa fa-info-circle"></i> 

                                                            - <%= link_to 'Modifier', edit_acte_path(action.id), :class => 'text-danger ', data: {confirm: "Vous êtes sur de vouloir modifier cette action?"}%> <i class="fa fa-edit"></i>

                                                            - <%= link_to 'Effacer', acte_path(action.id), :class => 'text-danger', method: :delete, data: {confirm: "Vous êtes sur de vouloir supprimer cette action?"}%> <i class="fa fa-close"></i>

                                                           - <%= link_to 'Ajouter un résultat attendu', new_resultat_attenu_path(acte_id: action.id), :class => 'text-danger', data: {confirm: "Vous êtes sur de vouloir ajouter un nouveau résultat attendu?"}%> <i class="fa fa-plus-square"></i>

                                                            <!-- Fin bouton de paramétrage -->

                                           
                                                            <ol class="dd-list">
                                                                <% @resultat_attendu.each do |ra|%>
                                                                 <% if ra.acte_id == action.id %>

                                                                <li class="dd-item" data-id="6">
                                                                    <div class="dd-handle">Résultat attendu: <span class="text-themecolor"><%= ra.nom %></span>
                                                                    </div>

                                                                         <!--Bouton de paramétrage -->
                                                                        <span class="marge"></span>

                                                                        <%= link_to 'Information',  resultat_attenu_path(ra.id), :class => 'text-danger' %>   <i class="fa fa-info-circle"></i> 

                                                                        - <%= link_to 'Modifier', edit_resultat_attenu_path(ra.id), :class => 'text-danger ', data: {confirm: "Vous êtes sur de vouloir modifier ce résultat attendu?"}%> <i class="fa fa-edit"></i>

                                                                        - <%= link_to 'Effacer', resultat_attenu_path(ra.id), :class => 'text-danger', method: :delete, data: {confirm: "Vous êtes sur de vouloir supprimer ce résultat attendu?"}%> <i class="fa fa-close"></i>

                                                                        - <%= link_to 'Ajouter une activité', new_activite_path(resultat_attenu_id: ra.id), :class => 'text-danger', data: {confirm: "Vous êtes sur de vouloir ajouter cette activité?"}%> <i class="fa fa-plus-square"></i>

                                                                         <!-- Fin bouton de paramétrage -->

                                                                        <ol class="dd-list">
                                                                            <% @activite.each do |activite|%>
                                                                             <% if activite.resultat_attenu_id == ra.id %>
                                                                            <li class="dd-item" data-id="6">
                                                                                <div class="dd-handle">Activité: <span class="text-themecolor"><%= activite.nom %></span>   
                                                                                </div>
                                                                                         <!--Bouton de paramétrage -->
                                                                                         <span class="marge"></span>

                                                                                        <%= link_to 'Information',  activite_path(activite.id), :class => 'text-danger' %>   <i class="fa fa-info-circle"></i> 

                                                                                        - <%= link_to 'Modifier', edit_activite_path(activite.id), :class => 'text-danger ', data: {confirm: "Vous êtes sur de vouloir modifier cette activité?"}%> <i class="fa fa-edit"></i>

                                                                                        - <%= link_to 'Effacer', activite_path(activite.id), :class => 'text-danger', method: :delete, data: {confirm: "Vous êtes sur de vouloir supprimer cette activité?"}%> <i class="fa fa-close"></i>

                                                                                        - <%= link_to 'Ajouter un indicateur', new_indicateur_path(activite_id: activite.id), :class => 'text-danger', data: {confirm: "Vous êtes sur de vouloir ajouter cet indicateur?"}%> <i class="fa fa-plus-square"></i>

                                                                                         <!-- Fin bouton de paramétrage -->

                                                                                        <ol class="dd-list">
                                                                                            <% @indicateur.each do |indicateur|%>
                                                                                            <% if indicateur.activite_id == activite.id %>
                                                                                            <li class="dd-item" data-id="6">
                                                                                                <div class="dd-handle">Indicateur: <span class="text-themecolor"><%= indicateur.nom %></span> 
                                                                                                 </div>
                                                                                                
                                                                                                <!--Bouton de paramétrage -->
                                                                                                
                                                                                                <span class="marge"></span>

                                                                                                <%= link_to 'Consulter la matrice',  matrix_path(indicateur.id), :class => 'text-danger' %>   <i class="fa fa-table"></i>

                                                                                               

                                                                                                 <!-- Fin bouton de paramétrage -->
                                                                                               
                                                                                            </li>
                                                                                            <% end %>
                                                                                            <% end %>

                                                                                            <% @budget.each do |b|%>
                                                                                            <% if b.budgetable_id == activite.id && b.budgetable_type == activite.class.name%>
                                                                                            <li class="dd-item" data-id="6">
                                                                                            
                                                                                                            <div class="dd-handle">Budget prévisionnel alloué: <span class="text-themecolor"><%= b.prevision %></span>  
                                                                                                            </div>
                                                                                                            <!--Bouton de paramétrage -->
                                                                                                
                                                                                                            <span class="marge"></span>
                                                                                                            <%= link_to 'Gérer le budget', edit_budget_path(b.id), :class => 'text-danger', data: {confirm: "Vous êtes sur de vouloir ajouter cet indicateur?"}%> <i class="fa fa-money"></i>

                                                                                                            <!-- Fin bouton de paramétrage -->


                                                                                                            <h5 class="m-t-30">Trimestre 1
                                                                                                                <span class="pull-right"><%= b.trimestre1 %> - <%= (b.trimestre1*100)/ b.prevision %> %</span>  
                                                                                                            </h5>
                                                                                                            <div class="progress ">
                                                                                                                <div class="progress-bar bg-themecolor wow animated progress-animated" style="width: <%= (b.trimestre1*100)/b.prevision%>%; height:6px;" role="progressbar"> </div>
                                                                                                            </div>

                                                                                                            <h5 class="m-t-30">Trimestre 2
                                                                                                                <span class="pull-right"><%= b.trimestre2 %> - <%= (b.trimestre2*100)/ b.prevision %> %</span>
                                                                                                            </h5>
                                                                                                            <div class="progress ">
                                                                                                                <div class="progress-bar bg-success wow animated progress-animated" style="width: <%= (b.trimestre2*100)/b.prevision%>%; height:6px;" role="progressbar"> </div>
                                                                                                            </div>

                                                                                                            <h5 class="m-t-30">Trimestre 3
                                                                                                                <span class="pull-right"><%= b.trimestre3 %> - <%= (b.trimestre3*100)/ b.prevision %> %</span>
                                                                                                            </h5>
                                                                                                            <div class="progress ">
                                                                                                                <div class="progress-bar bg-warning wow animated progress-animated" style="width: <%= (b.trimestre3*100)/b.prevision%>%; height:6px;" role="progressbar"> </div>
                                                                                                            </div>

                                                                                                            <h5 class="m-t-30">Trimestre 4
                                                                                                                <span class="pull-right"><%= b.trimestre4 %> - <%= (b.trimestre4*100)/ b.prevision %> %</span>
                                                                                                            </h5>
                                                                                                            <div class="progress ">
                                                                                                                <div class="progress-bar bg-danger wow animated progress-animated" style="width: <%= (b.trimestre4*100)/b.prevision%>%; height:6px;" role="progressbar"> </div>
                                                                                                            </div>

                                                                                                </li>
                                                                                                <% end %>
                                                                                                <% end %> 
                                                                                        </ol>
                                                                            </li>
                                                                             <% end %>
                                                                            <% end %> 
                                                                        </ol>
                                                                </li>
                                                            <% end %>
                                                            <% end %>     
                                                            </ol>
                                                    </li>
                                                    <% end %>
                                                    <% end %>    
                                            </ol>
                                    </li><!-- dd-item -->
                                </br>
                                <% end %>
                                <% end %>
                                </ol><!-- dd-list -->
                            </div> <!--dd -->
                        </div><!-- nestable -->
                    </div><!--card content -->
                </div> <!--card body -->
            </div><!--card -->
            
        </div>
    </div>
    
    <div class="row">
                    
                    <!-- /# column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <a href="" class="btn btn-info btn-flat btn-addon"><i class="fa fa-table"></i> Vue en mode tableau des programmes du Ministere: <%= f.nom %></a> 

                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr >
                                                <th class="text-themecolor">Programmes</th>
                                                <th class="text-themecolor">Actions</th>
                                                <th class="text-themecolor">Résultats attendus</th>
                                                <th class="text-themecolor">Activités</th>
                                                <th class="text-themecolor">Indicateur</th>
                                                <th class="text-themecolor">Budget</th>
                                                <th class="text-themecolor">Trim 1 FCFA & %</th>
                                                <th class="text-themecolor">Trim 2 FCFA & %</th>
                                                <th class="text-themecolor">Trim 3 FCFA & %</th>
                                                <th class="text-themecolor">Trim 4 FCFA & %</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <% @programmes.each do |t|%> 
                                        <% if t.ministere_id == f.id %>   
                                        <tr>    
                                                <th class=""><%= t.nom%></th>
                                                <th class="b-right"></th>
                                                <th class="b-right"></th>
                                                <th class="b-right"></th>
                                                <th class="b-right"></th>
                                                <th class="b-right"></th>
                                                <th class="b-right"></th> 
                                                <th class="b-right"></th> 
                                                <th class="b-right"></th> 
                                                <th class=""></th> 
                                                
                                        </tr>
                                            <% @actionss.each do |action|%>
                                            <% if action.programme_id == t.id %> 
                                            <tr>    
                                                    <th class="b-top"></th>
                                                    <th class=""><%= action.nom %></th>
                                                    <th class="b-right"></th>
                                                    <th class="b-right"></th>
                                                    <th class="b-right"></th>
                                                    <th class="b-right"></th>
                                                    <th class="b-right"></th> 
                                                    <th class="b-right"></th> 
                                                    <th class="b-right"></th> 
                                                    <th class=""></th> 
                                                
                                            </tr>
                                            <% @resultat_attendu.each do |ra|%>
                                                <% if ra.acte_id == action.id %>

                                                <% @activite.each do |activite|%>
                                                <% if activite.resultat_attenu_id == ra.id %>

                                                

                                                <% @budget.each do |b|%>
                                                <% if b.budgetable_id == activite.id  && b.budgetable_type == activite.class.name %>



                                                <tr>    
                                                        <th  class="b-top"></th>
                                                        <th  class="b-top"></th>
                                                        <th><%= ra.nom %></th>
                                                        <th><%= activite.nom %></th>
                                                        <th><% @indicateur.each do |indicateur|%>
                                                <% if indicateur.activite_id == activite.id %><%= indicateur.nom %><% end %> 
                                                <% end %></th>
                                                        <th><%= b.prevision %></th> 
                                                        <th><%= b.trimestre1 %> <br/> <%= (b.trimestre1*100)/ b.prevision %> %</th> 
                                                        <th><%= b.trimestre2 %> <br/> <%= (b.trimestre2*100)/ b.prevision %> %</th> 
                                                        <th><%= b.trimestre3 %> <br/> <%= (b.trimestre3*100)/ b.prevision %> %</th> 
                                                        <th><%= b.trimestre4 %> <br/> <%= (b.trimestre4*100)/ b.prevision %> %</th> 
                                                
                                                </tr>

                                                
                                                <% end %> 
                                                <% end %> 
                                                <% end %> 
                                                <% end %> 
                                            <% end %> 
                                            <% end %>     
                                        <% end %> 
                                        <% end %>
                                        <%end%>
                                        <%end%>  
                                        </tbody>
                                    </table>


                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- /# row -->

    
    <% end %>
</div>    
                
                <!-- Start Page Content -->
 
                
  

            
