
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <% @ministere.each do |f|%>
                <div class="card-header bg-warning center">
                    <h2 class="m-b-0 text-white">Ministère: <%= f.nom%></h2>
                </div>
                <div class="row">
                    <!-- column -->
                    <!-- column -->
                    <% @titres.each do |t|%>
                    <% if t.ministere_id == f.id %>

                    <% @budget.each do |b|%>
                    <% if b.budgetable_id == t.id && b.budgetable_type == t.class.name%> 
                    
                    
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Courbe d'évolution des dépenses(millions CFA) du titre <span class="text-danger"><%= t.nom%></span></h4>
                                <div id="morris-line-chart-<%= t.nom%>"></div>
                                <script type="text/javascript">
                                    Morris.Line( {
                                        element: 'morris-line-chart-<%= t.nom%>',
                                        resize: true,
                                        data: [
                                        {
                                            y: 'Trimestre 1',
                                            item1: <%= b.trimestre1%>
                                        },<% if b.trimestre2 != 0 %>
                                        {
                                            y: '2018 Q2',
                                            item1: <%= b.trimestre2%>
                                        },<%end%><% if b.trimestre3 != 0 %>
                                        {
                                            y: '2018 Q3',
                                            item1: <%= b.trimestre3%>
                                        },<%end%><% if b.trimestre4 != 0 %>
                                        {
                                            y: '2018 Q4',
                                            item1: <%= b.trimestre4%>
                                        },<%end%>
                                        ],
                                        xkey: 'y',
                                        ykeys: [ 'item1' ],
                                        labels: [ 'Valeur:' ],
                                        gridLineColor: '#eef0f2',
                                        lineColors: [ '#4680ff' ],
                                        lineWidth: 1,
                                        hideHover: 'auto'
                                    } );
                                </script>

                            </div>
                        </div>
                    </div>
                    <%end%>
                    <%end%>
                    <%end%>
                    <%end%>  


                    <% @titres.each do |t|%>
                    <% if t.ministere_id == f.id %>
                    <% @budget.each do |b|%>
                    <% if b.budgetable_id == t.id && b.budgetable_type == t.class.name%>

                   
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Donut Chart des dépenses(millions CFA) du titre <span class="text-danger"><%= t.nom%></span></h4>
                                <div id="morris-donut-chart-<%= t.nom%>"></div>
                                <script>
                                    
                                    Morris.Donut( {
                                        element: 'morris-donut-chart-<%= t.nom%>',
                                        data: [ {
                                                label: "Trimestre 1",
                                                value: <%= b.trimestre1%>

                                            }, {
                                                label: "Trimestre 2",
                                                value: <%= b.trimestre2%>
                                            }, {
                                                label: "Trimestre 3",
                                                value: <%= b.trimestre3%>
                                            }, {
                                                label: "Trimestre 4",
                                                value: <%= b.trimestre4%>
                                            } ],
                                        resize: true,
                                        colors: [ '#4680ff', '#26DAD2', '#fc6180', '#16B84E' ]
                                         } );
                                </script>
                            </div>
                        </div>
                    </div>

                    <%end%>
                    <%end%> 
                    <%end%>
                    <%end%>
                    <!-- column -->
                   
                </div>
                <% end %>
   

                <!-- End PAge Content -->
            </div>
          
        </div>
        <!-- End Page wrapper  -->
         