
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <% @ministere.each do |f|%>
                <div class="card-header bg-warning center">
                    <h2 class="m-b-0 text-white">Ministère: <%= f.nom%></h2>
                </div>
                <div class="row">
                    <!-- column -->
                    <% @programmes.each do |t|%> 
                    <% if t.ministere_id == f.id %> 
                    
                    <% @actionss.each do |action|%>
                    <% if action.programme_id == t.id %>

                    <% @resultat_attendu.each do |ra|%>
                    <% if ra.acte_id == action.id %>

                    <% @activite.each do |activite|%>
                    <% if activite.resultat_attenu_id == ra.id %>

                    <% @budget.each do |b|%>
                    <% if b.budgetable_id == activite.id  && b.budgetable_type == activite.class.name%>

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Diagramme d'évolution des dépenses(%) de l'activité <span class="text-danger"><%= activite.nom%></span> du programme<span class="text-themecolor"> <%= t.nom%></span></h4>
                                <div id="morris-bar-chart-<%= activite.nom%>"></div>
                                 <script type="text/javascript">
                                    // Morris bar chart
                                    Morris.Bar( {
                                        element: 'morris-bar-chart-<%= activite.nom%>',
                                        data: [ {
                                                    y: '<%= activite.nom%>',
                                                    a: <%= (b.trimestre1*100)/b.prevision%>,
                                                    b: <%= (b.trimestre2*100)/b.prevision%>,
                                                    c: <%= (b.trimestre3*100)/b.prevision%>,
                                                    d: <%= (b.trimestre4*100)/b.prevision%>
                                            },  ],
                                            xkey: 'y',
                                            ykeys: [ 'a', 'b', 'c', 'd' ],
                                            labels: [ 'Trimestre 1 - Couleur CYAN', 'Trimestre 2 - Couleur ROUGE', 'Trimestre 3 - Couleur BLEU', 'Trimestre 4 - Couleur VERT' ],
                                            barColors: [ '#26DAD2', '#fc6180', '#4680ff', '#16B84E' ],
                                            hideHover: 'auto',
                                            gridLineColor: '#eef0f2',
                                            resize: true
                                    } );
                                </script>  
                            </div>
                        </div>
                    </div>

                    <%end%>
                    <%end%> 

                    <%end%>
                    <%end%>        

                    <%end%>
                    <%end%>

                    <%end%>
                    <%end%>
                     <!-- column -->
                     <% @actionss.each do |action|%>
                    <% if action.programme_id == t.id %>

                    <% @resultat_attendu.each do |ra|%>
                    <% if ra.acte_id == action.id %>

                    <% @activite.each do |activite|%>
                    <% if activite.resultat_attenu_id == ra.id %>

                    <% @budget.each do |b|%>
                    <% if b.budgetable_id == activite.id  && b.budgetable_type == activite.class.name%>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Courbe d'évolution des dépenses(millions CFA) de l'activité <span class="text-danger"><%= activite.nom%></span> du programme<span class="text-themecolor"> <%= t.nom%></span></h4>
                                <div id="morris-line-chart-<%= activite.nom%>"></div>
                                <script type="text/javascript">
                                    Morris.Line( {
                                        element: 'morris-line-chart-<%= activite.nom%>',
                                        resize: true,
                                        data: [
                                        {
                                            y: '2018 Q1',
                                            item1: <%= b.trimestre1%>
                                        },<% if b.trimestre2 != 0 %>
                                        {
                                            y: '2018 Q2',
                                            item1: <%= b.trimestre2%>
                                        },<%end%><% if b.trimestre3 != 0 %>
                                        {
                                            y: '2018 Q3',
                                            item1: <%= b.trimestre3%>
                                        },<%end%><% if b.trimestre4 != 0 %>
                                        {
                                            y: '2018 Q4',
                                            item1: <%= b.trimestre4%>
                                        },<%end%>
                                        ],
                                        xkey: 'y',
                                        ykeys: [ 'item1' ],
                                        labels: [ 'Valeur:' ],
                                        gridLineColor: '#eef0f2',
                                        lineColors: [ '#4680ff' ],
                                        lineWidth: 1,
                                        hideHover: 'auto'
                                    } );
                                </script>

                            </div>
                        </div>
                    </div>
                    <%end%>
                    <%end%> 

                    <%end%>
                    <%end%>        

                    <%end%>
                    <%end%>

                    <%end%>
                    <%end%>
                   
                    <!-- column -->
                     
                     <!-- column -->
                    <%end%>
                    <%end%>
                    <!-- column -->
                   
                </div>
                <% end %>
   

                <!-- End PAge Content -->
            </div>
          
        </div>
        <!-- End Page wrapper  -->
         