<div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-12">
                       
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Liste des ministeres du Sénégal</h4>
                                <div class="table-responsive m-t-40">
                                    <table id="myTable" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Ministere</th>
                                                <th>Information</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% Array(@ministere).each do |t|%>
                                            <tr>
                                                <td class="text-megna"><%= t.nom%></td>
                                                <td ><%= link_to 'Information', ministere_path(t.id), :class => 'text-info' %> <i class="fa fa-info-circle text-info"></i></td>
                                                <td class="text-info"><%= link_to 'Modifier', edit_ministere_path(t.id), :class => 'text-info', data: {confirm: "Vous êtes sur de vouloir modifier ce ministère?"}  %> <i class="fa fa-edit"></i></td>
                                                <td class="text-danger"><%= link_to 'Effacer', ministere_path(t.id), :class => 'text-danger', method: :delete, data: {confirm: "Vous êtes sur de vouloir supprimer ce ministère"}  %> <i class="fa fa-close"></i></td>
                                            </tr>
                                            <% end %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <!-- End PAge Content -->
            </div>