
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    
                    
                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                            <div class="card-header">
                                <h4 class="m-b-0 text-white">Formulaire de création d'ajout d'un nouveau ministere (<small>Vérifiez les informations saisies avant de valider</small>)</h4>
                            </div>
                            <div class="card-body m-t-50">
                            <%= simple_form_for @ministere do |f| %>
                                    <div class="form-body">
                                        <div class="form-group row">
                                            <%= f.label :nom, "Nom", :class => 'control-label text-right col-md-3' %>
                                            <div class="col-md-9">
                                                <%= f.input :nom, :class => 'form-control', :label => false, :required => true %>
                                                <small class="form-control-feedback"> Saisisser ici le nom du nouveau ministere que vous voulez créer</small>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <%= f.label :description, "Description", :class => 'control-label text-right col-md-3' %>
                                            <div class="col-md-9">
                                                <%= f.input :description, :class => 'form-control',  :required => true, :label => false, :input_html => { :cols => 50, :rows => 7 }  %> <small class="form-control-feedback"> Saisisser le description du nouveau  que vous allez créer </small>                                       
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <%= f.label :ministre, "Ministre", :class => 'control-label text-right col-md-3' %>
                                            <div class="col-md-9">
                                                <%= f.input :ministre, :class => 'form-control',  :required => true, :label => false %> <small class="form-control-feedback"> Saisisser le nom du ministre en poste </small>                                       
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <%= f.label :numero, "Numéro", :class => 'control-label text-right col-md-3' %>
                                            <div class="col-md-9">
                                                <%= f.input :numero, :class => 'form-control',  :required => true, :label => false, :input_html => { :cols => 50, :rows => 7 }  %> <small class="form-control-feedback"> Saisisser le numéro de téléphone du nouveau ministère que vous allez créer </small>                                       
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <%= f.label :email, "Email", :class => 'control-label text-right col-md-3' %>
                                            <div class="col-md-9">
                                                <%= f.input :email, :class => 'form-control',  :required => true, :label => false, :input_html => { :cols => 50, :rows => 7 }  %> <small class="form-control-feedback"> Saisisser l'adresse e-mail du nouveau ministère que vous allez créer </small>                                       
                                            </div>
                                        </div>
                                    
                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="offset-sm-3 col-md-9">
                                                        <%= f.submit "Créer", :class => 'btn btn-themecolor'%>
                                                        <button type="button" class="btn btn-inverse">Annuler</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End PAge Content -->
            </div>
