<span style="color:white"><%= flash[:notice] %></span>
<div class="container-fluid">
                <!-- Start Page Content -->
    <div class="row">
        <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h4>Details sur la plateforme </h4>

                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Intitulé</th>
                                                <th class="special">Contenu</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><span class="badge badge-warning">Nom du ministère</span></td>
                                                <td class="special"> <%= @ministere.nom%> </td>
                                            </tr>
                                            <tr>
                                                <td><span class="badge badge-warning">Ministre en poste</span></td>
                                                <td class="special"> <%= @ministere.ministre%> </td>
                                            </tr>
                                            <tr>
                                                <td><span class="badge badge-warning">Email du ministère</span></td>
                                                <td class="special"> <%= @ministere.email%> </td>
                                            </tr>
                                            <tr>
                                                <td><span class="badge badge-warning">Numéro du ministère</span></td>
                                                <td class="special"> <%= @ministere.numero%> </td>
                                            </tr>
                                            <tr>
                                                <td><span class="badge badge-warning">Description du ministère</span></td>
                                                <td class="special"> <%= @ministere.description%> </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
    </div>
</div>                    