<%= form_with(model: titre, local: true) do |form| %>
  <% if titre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(titre.errors.count, "error") %> prohibited this titre from being saved:</h2>

      <ul>
      <% titre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
