<p id="notice"><%= notice %></p>

<!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
            <% @ministere.each do |f|%>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-lg-12">
                                        <a href="" class="btn btn-info btn-flat btn-addon"><i class="fa fa-table"></i> Titres du Ministère <%= f.nom %></a> 
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="nestable">
                                        <div class="dd" id="nestable">
                                            <ol class="dd-list">
                                                <% @titres.each do |t|%>
                                                <% if t.ministere_id == f.id %>
                                                <li class="dd-item" data-id="1">
                                                    <div class="dd-handle ">Titre: <span class="text-themecolor"><%= t.nom %></span> </div>

                                            <!--Bouton de paramétrage -->
                                            <span class="marge"></span>

                                            <%= link_to 'Information', titre_path(t.id), :class => 'text-danger' %>      <i class="fa fa-info-circle"></i> 

                                            - <%= link_to 'Modifier', edit_titre_path(t.id), :class => 'text-danger ', data: {confirm: "Vous êtes sur de vouloir modifier cette plateforme?"}%> <i class="fa fa-edit"></i>

                                            - <%= link_to 'Effacer', titre_path(t.id), :class => 'text-danger', method: :delete, data: {confirm: "Vous êtes sur de vouloir supprimer cette plateforme?"}%> <i class="fa fa-close"></i>


                                            <!-- Fin bouton de paramétrage -->
                                                    <ol class="dd-list">
                                                        <% @budget.each do |b|%>
                                                        <% if b.budgetable_id == t.id && b.budgetable_type == t.class.name%>
                                                        <li class="dd-item" data-id="5">
                                                            <div class="dd-handle">Budget prévisionnel alloué: <span class="text-themecolor"><%= b.prevision %></span>  
                                                                                                            </div>
                                                            <!--Bouton de paramétrage -->
                                                                                                
                                                                                                            <span class="marge"></span>
                                                                                                            <%= link_to 'Gérer le budget', edit_budget_path(b.id), :class => 'text-danger', data: {confirm: "Vous êtes sur de vouloir ajouter cet indicateur?"}%> <i class="fa fa-money"></i>

                                                                                                            <!-- Fin bouton de paramétrage -->
                                                                                                            


                                                                                                        <h5 class="m-t-30">Trimestre 1
                                                                                                                <span class="pull-right"><%= b.trimestre1 %> - <%= (b.trimestre1*100)/ b.prevision %> %</span>  
                                                                                                            </h5>
                                                                                                            <div class="progress ">
                                                                                                                <div class="progress-bar bg-themecolor wow animated progress-animated" style="width: <%= (b.trimestre1*100)/b.prevision%>%; height:6px;" role="progressbar"> </div>
                                                                                                            </div>

                                                                                                            <h5 class="m-t-30">Trimestre 2
                                                                                                                <span class="pull-right"><%= b.trimestre2 %> - <%= (b.trimestre2*100)/ b.prevision %> %</span>
                                                                                                            </h5>
                                                                                                            <div class="progress ">
                                                                                                                <div class="progress-bar bg-success wow animated progress-animated" style="width: <%= (b.trimestre2*100)/b.prevision%>%; height:6px;" role="progressbar"> </div>
                                                                                                            </div>

                                                                                                            <h5 class="m-t-30">Trimestre 3
                                                                                                                <span class="pull-right"><%= b.trimestre3 %> - <%= (b.trimestre3*100)/ b.prevision %> %</span>
                                                                                                            </h5>
                                                                                                            <div class="progress ">
                                                                                                                <div class="progress-bar bg-warning wow animated progress-animated" style="width: <%= (b.trimestre3*100)/b.prevision%>%; height:6px;" role="progressbar"> </div>
                                                                                                            </div>

                                                                                                            <h5 class="m-t-30">Trimestre 4
                                                                                                                <span class="pull-right"><%= b.trimestre4 %> - <%= (b.trimestre4*100)/ b.prevision %> %</span>
                                                                                                            </h5>
                                                                                                            <div class="progress ">
                                                                                                                <div class="progress-bar bg-danger wow animated progress-animated" style="width: <%= (b.trimestre4*100)/b.prevision%>%; height:6px;" role="progressbar"> </div>
                                                                                                            </div>
                                                        </li>
                                                        <%end%>
                                                        <%end%>
                                                    </ol>
                                                  
                                                </li>
                                                 <%end%> 
                                                 <%end%> 
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    
                    <!-- /# column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <a href="" class="btn btn-info btn-flat btn-addon"><i class="fa fa-table"></i> Vue en mode tableau des titres du Ministere</a> 

                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    



                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Titres</th>
                                                <th>Budget alloué au titre</th>
                                                <th>Trimestre 1  %</th>
                                                <th>Trimestre 2  %</th>
                                                <th>Trimestre 3  %</th>
                                                <th>Trimestre 4  %</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% @titres.each do |t|%>
                                            <% if t.ministere_id == f.id %>
                                            <% @budget.each do |b|%>
                                            <% if b.budgetable_id == t.id && b.budgetable_type == t.class.name%>
                                        <tr>    
                                            
                                                <th ><%= t.nom%></th>
                                                <th ><%= b.prevision%></th>
                                                <th><%= b.trimestre1 %> <br/> <%= (b.trimestre1*100)/ b.prevision %> %</th> 
                                                <th><%= b.trimestre2 %> <br/> <%= (b.trimestre2*100)/ b.prevision %> %</th> 
                                                <th><%= b.trimestre3 %> <br/> <%= (b.trimestre3*100)/ b.prevision %> %</th> 
                                                <th><%= b.trimestre4 %> <br/> <%= (b.trimestre4*100)/ b.prevision %> %</th> 
                                            
                                        </tr>

                                        <%end%>
                                        <%end%> 
                                        <%end%>
                                        <%end%> 
                                        
                                       
                                         
                                          
                                        </tbody>
                                    </table>


                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- /# row -->
                </div>
                <% end %>
            </div>    

            
