<%= flash[:notice] %>
<div class="container-fluid">
                <!-- Start Page Content -->
    <div class="row">
        <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h4 class="">Details sur le programme </h4>

                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Intitulé</th>
                                                <th class="special">Contenu</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><span class="badge badge-warning">Nom du titre</span></td>
                                                <td class="special text-themecolor"> <%= @titre.nom%> </td>
                                            </tr>
                                            <tr>
                                                <td><span class="badge badge-warning">Ministère en charge du titre</span></td>
                                                <td class="special text-themecolor"> <%= @titre.ministere.nom%> </td>
                                            </tr>
                                            <tr>
                                                <td><span class="badge badge-warning">Description du titre</span></td>
                                                <td class="special text-themecolor"> <%= @titre.description%> </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
    </div>
</div>                    