<p id="notice" class="bg-danger" style="text-align: center;"><%= notice %></p>
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    
                    <div class="col-lg-12">
                    	<div class="card-header bg-warning center">
                                <h2 class="m-b-0 text-white">Modification</h2>
                    	</div>
                        <div class="card card-outline-info">

                            <%= simple_form_for @budget do |f| %>
                            <div class="card-header">
                                <h4 class="m-b-0 text-white">Formulaire de modification des informations sur le budget (<small>Vérifiez les informations saisies avant de valider</small>)</h4>
                            </div>
                            <div class="card-body m-t-50">
                                    <div class="form-body">
                                        <div class="form-group row">
                                            <%= f.label :prevision, "Prevision", :class => 'control-label text-right col-md-3' %>
                                            <div class="col-md-9">
                                                <%= f.input :prevision, :class => 'form-control', :label => false, :required => true %>
                                                <small class="form-control-feedback"> Modifier la valeur de la prévision</small>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <%= f.label :trimestre1, "Trimestre1", :class => 'control-label text-right col-md-3' %>
                                            <div class="col-md-9">
                                               <%= f.input :trimestre1, :class => 'form-control', :label => false, :required => true,  :rows => "20", style: 'width:100%' %> <small class="form-control-feedback"> Modifier la valeur du premier trimestre </small>  
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <%= f.label :trimestre2, "Trimestre2", :class => 'control-label text-right col-md-3' %>
                                            <div class="col-md-9">
                                               <%= f.input :trimestre2, :class => 'form-control', :label => false, :required => true,  :rows => "20", style: 'width:100%' %> <small class="form-control-feedback"> Modifier la valeur du second trimestre </small>  
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <%= f.label :trimestre3, "Trimestre3", :class => 'control-label text-right col-md-3' %>
                                            <div class="col-md-9">
                                               <%= f.input :trimestre3, :class => 'form-control', :label => false, :required => true,  :rows => "20", style: 'width:100%' %> <small class="form-control-feedback"> Modifier la valeur du troisième trimestre </small>  
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <%= f.label :trimestre4, "Trimestre4", :class => 'control-label text-right col-md-3' %>
                                            <div class="col-md-9">
                                               <%= f.input :trimestre4, :class => 'form-control', :label => false, :required => true,  :rows => "20", style: 'width:100%' %> <small class="form-control-feedback"> Modifier la valeur du quatrième trimestre </small>  
                                            </div>
                                        </div>
                                        
                                    
                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="offset-sm-3 col-md-9">
                                                        <%= f.submit "Mise à jour", :class => 'btn btn-themecolor'%>
                                                        <button type="button" class="btn btn-inverse">Annuler</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End PAge Content -->
            </div>
