
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    
                    <div class="col-lg-12">
                    	<div class="card-header bg-warning center">
                                <h2 class="m-b-0 text-white">Modification</h2>
                    	</div>
                        <div class="card card-outline-info">

                            <%= simple_form_for @matrice do |f| %>
                            <div class="card-header">
                                <h4 class="m-b-0 text-white">Formulaire de modification des informations sur la ligne de matrice (<small>Vérifiez les informations saisies avant de valider</small>)</h4>
                            </div>
                            <div class="card-body m-t-50">
                                    <div class="form-body">
                                        <div class="form-group row">
                                            <%= f.label :annee, "Nom", :class => 'control-label text-right col-md-3' %>
                                            <div class="col-md-9">
                                                <%= f.input :annee, :class => 'form-control', :label => false, :required => true %>
                                                <small class="form-control-feedback"> Modifier l'année de la ligne de matrice </small>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <%= f.label :indicateur_id, "Indicateur", :class => 'control-label text-right col-md-3' %>
                                            <div class="col-md-9">
                                               <%= f.collection_select(:indicateur_id, Indicateur.all, :id, :nom, :class => 'form-control') %>
                                             <small class="form-control-feedback"> Modifiez l'indicateur auquel rattacher la ligne de matrice</small>   
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <%= f.label :valeur_initiale, "Valeur initiale", :class => 'control-label text-right col-md-3' %>
                                            <div class="col-md-9">
                                               <%= f.input :valeur_initiale, :class => 'form-control', :label => false, :required => true,  :rows => "20", style: 'width:100%' %> <small class="form-control-feedback"> Modifier la  valeur initiale </small>  
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <%= f.label :prevision, "Prévision", :class => 'control-label text-right col-md-3' %>
                                            <div class="col-md-9">
                                               <%= f.input :prevision, :class => 'form-control', :label => false, :required => true,  :rows => "20", style: 'width:100%' %> <small class="form-control-feedback"> Modifier la  prévision</small>  
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <%= f.label :resultat, "Réalisation", :class => 'control-label text-right col-md-3' %>
                                            <div class="col-md-9">
                                               <%= f.input :resultat, :class => 'form-control', :label => false, :required => true,  :rows => "20", style: 'width:100%' %> <small class="form-control-feedback"> Modifier la réalisation</small>  
                                            </div>
                                        </div>
                                    
                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="offset-sm-3 col-md-9">
                                                        <%= f.submit "Mise à jour", :class => 'btn btn-themecolor'%>
                                                        <button type="button" class="btn btn-inverse">Annuler</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End PAge Content -->
            </div>
