<p id="notice"><%= notice %></p>


                    <div class="row">
                    
                    <!-- /# column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <a href="" class="btn btn-info btn-flat btn-addon"><i class="fa fa-table"></i> Matrice de l'indicateur XXXX</a> 

                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    



                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Année</th>
                                                <th>Résultat de l'an passé</th>
                                                <th>Prévision%</th>
                                                <th>Résultat%</th>
                                                <th>Ecart%</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr>    
                                                <th >Dépenses de personnel</th>
                                                <th >1250000000</th>
                                                <th >25000 - <span class="text-danger">25%</span></th>
                                                <th >25000 - <span class="text-danger">35%</th>
                                                <th >25000 - <span class="text-danger">35%</th>
                                                
                                        </tr>
                                          
                                        </tbody>
                                    </table>


                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- /# row -->
               
            
