<p id="notice"><%= notice %></p>


                    <div class="row">
                    
                    <!-- /# column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <a href="" class="btn btn-info btn-flat btn-addon"><i class="fa fa-table"></i> Matrice de l'indicateur <%= @indicateur.nom %></a> 

                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    



                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Année</th>
                                                <th>Valeur initiale</th>
                                                <th>Prévision%</th>
                                                <th>Réalisation%</th>
                                                <th>Ecart%</th>
                                                <th>Modifier%</th>
                                                <th>Supprimer%</th>
                                                <th>Commentaires</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <% @matrice.each do |m|%>
                                     	<% if m.indicateur_id == @indicateur.id %>	
                                        <tr>    
                                                <th ><%= m.annee%> </th>
                                                <th ><span class="text-themecolor"><%= m.valeur_initiale%> %</span></th>
                                                <th ><span class="text-themecolor"><%= m.prevision%> %</span></th>
                                                <th ><span class="text-themecolor"><%= m.resultat%> %</span></th>
                                                <th ><span class="text-themecolor"><%= m.prevision - m.resultat %> %</span></th>
                                                <th > <%= link_to 'Modifier', edit_matrix_path(m.id), :class => 'text-danger ', data: {confirm: "Vous êtes sur de vouloir modifier cette ligne de matrice?"}%> <i class="fa fa-edit"></i> </th>
                                                <th >  <%= link_to 'Effacer', matrix_path(m.id), :class => 'text-danger', method: :delete, data: {confirm: "Vous êtes sur de vouloir supprimer cette ligne de matrice?"}%> <i class="fa fa-close"></i></th>
                                                <th > 
                                                	<% @commentaire.each do |c|%>
                                     				<% if c.matrice_id == m.id %>

                                                	<%=c.id %>- <%= c.content %><br/>
                                                	<%end%>
                                                	<%end%>
                                                	<%= link_to 'Ajouter un commentaire', new_commentaire_path(matrice_id: m.id), :class => 'text-danger', data: {confirm: "Vous êtes sur de vouloir ajouter ce commentaire?"}%> <i class="fa fa-plus-square"></i>

                                                	
 												</th>

                                                
                                        </tr>
                                        <%end%> 
                                        <%end%>  
                                        </tbody>
                                    </table>


                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- /# row -->
               
            
