<!-- Left Sidebar  -->
        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">

                        <li class="nav-devider"></li>
                        <li > <%= link_to root_path do%><i class="fa fa-tachometer"></i><span class="hide-menu">Tableau de bord</span><% end %>
                        </li>

                        <li class="nav-devider"></li>
                        <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-bank"></i><span class="hide-menu">MINISTERE</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li>
                                <%= link_to "Lister les ministères",ministeres_path %>
                                 </li>
                                <li>
                                <%= link_to "Ajouter un ministère",new_ministere_path %>
                                
                                </li>
                                
                            
                            </ul>
                        </li>
                        <li class="nav-devider"></li>
                        <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-balance-scale"></i><span class="hide-menu">PLATEFORME</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li>
                                <%= link_to "Lister les plateformes",plateformes_path %>
                                 </li>
                                <li>
                                <%= link_to "Ajouter une plateforme",new_plateforme_path %>
                                
                                </li>
                                

                            </ul>
                        </li>
                        <li class="nav-devider"></li>
                        <li> <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-table"></i><span class="hide-menu"> Programmes</span></a>
                                    <ul aria-expanded="false" class="collapse">
                                        <li>
                                            <%= link_to "Tableau des programmes",programmes_path %>
                                        </li>
                                        <li>
                                            <%= link_to "Ajouter un programme",new_programme_path %>
                                        </li>
                                        <li>
                                        
                                    </ul>
                        </li>
                        <li class="nav-devider"></li>
                        <li> <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-folder"></i><span class="hide-menu"> Titres</span></a>
                                    <ul aria-expanded="false" class="collapse">
                                        <li>
                                            <%= link_to "Tableau des titres",titres_path %>
                                        </li>
                                        <li>
                                            <%= link_to "Ajouter un titre",new_titre_path%>
                                        </li>
                                        
                                    </ul>
                        </li>
                        
                        <li class="nav-devider"></li>
                        <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-bar-chart"></i><span class="hide-menu">GRAPHIQUES</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li>
                                            <%= link_to "Programmes",graphiques_diagramme_path %>
                                </li>
                                <li>
                                            <%= link_to "Titres",graphiques_courbe_path %>
                                </li>
                                
                            </ul>
                        </li>
                        
                        
                        <li class="nav-devider"></li>
                        <ul class="dropdown-user">
                                   © 2019 All rights reserved.  
                        </ul>


                    
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->