<li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-envelope"></i><span class="hide-menu">MESSAGERIE</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="email-compose.html">Nouveau message</a></li>
                                <!--<li><a href="email-read.html">Read</a></li> -->
                                <li><a href="email-inbox.html">Boite de reception</a></li>
                            </ul>
                        </li>