<%= flash[:notice] %>
<div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-12">
                       
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Liste des plateformes</h4>
                                <div class="table-responsive m-t-40">
                                    <table id="myTable" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Plateforme</th>
                                                <th>Email</th>
                                                <th>Numéro</th>
                                                <th>Ministere suivi</th>
                                                <th>Information</th>
                                                <th>Modification</th>
                                                <th>Suppression</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% @plateforme.each do |t|%>
                                            <tr>
                                                <td class="text-megna"><%= t.nom%></td>
                                                <td class="text-megna"><%= t.email%></td>
                                                <td class="text-megna"><%= t.numero%></td>
                                                <td class="text-megna"><%= t.ministere.nom %></td>
                                                <td><%= link_to 'Information', plateforme_path(t.id), :class => 'text-info' %> <i class="fa fa-info-circle text-info"></i></td>
                                                <td class="text-info"><%= link_to 'Modifier', edit_plateforme_path(t.id), :class => 'text-info', data: {confirm: "Vous êtes sur de vouloir modifier cette plateforme?"}  %> <i class="fa fa-edit"></i></td>
                                                <td class="text-danger"><%= link_to 'Effacer', plateforme_path(t.id), :class => 'text-danger', method: :delete, data: {confirm: "Vous êtes sur de vouloir supprimer cette plateforme?"}  %> <i class="fa fa-close"></i></td>
                                            </tr>
                                            <% end %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <!-- End PAge Content -->
            </div>