
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    
                    
                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                            <div class="card-header">
                                <h4 class="m-b-0 text-white">Formulaire de création d'ajout d'une nouvelle plateforme (<small>Vérifiez les informations saisies avant de valider</small>)</h4>
                            </div>
                            <div class="card-body m-t-50">
                            <%= simple_form_for @plateforme do |f| %>
                                    <div class="form-body col-md-12">
                                        <div class="form-group row">
                                            <%= f.label :nom, "Nom", :class => 'control-label text-right col-md-3' %>
                                            <div class="col-md-9">
                                                <%= f.input :nom, :class => 'form-control', :label => false, :required => true %>
                                                <small class="form-control-feedback"> Saisisser ici le nom de la nouvelle plateforme que vous voulez créer</small>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <%= f.label :siege, "Siège", :class => 'control-label text-right col-md-3' %>
                                            <div class="col-md-9">
                                                <%= f.input :siege, :class => 'form-control',  :required => true, :label => false %> <small class="form-control-feedback"> Saisisser le siège de la nouvelle plateforme que vous allez créer </small>                                       
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <%= f.label :nom, "Ministère", :class => 'control-label text-right col-md-3' %>
                                            <div class="col-md-9">
                                               <%= f.collection_select(:ministere_id, Ministere.all, :id, :nom, :class => 'form-control') %>
                                             <small class="form-control-feedback"> Choisissez le Ministère auquel rattacher le nouveau programme</small>   
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <%= f.label :description, "Description", :class => 'control-label text-right col-md-3' %>
                                            <div class="col-md-9">
                                                <%= f.text_area :description, :class => 'form-control', :label => false, :required => true,  :rows => "20", style: 'width:100%' %> <small class="form-control-feedback"> Saisisser le description de la nouvelle plateforme que vous allez créer </small>                                       
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <%= f.label :email, "E-mail", :class => 'control-label text-right col-md-3' %>
                                            <div class="col-md-9">
                                                <%= f.input :email, :class => 'form-control',  :required => true, :label => false %> <small class="form-control-feedback"> Saisisser le mail de la nouvelle plateforme que vous allez créer </small>                                       
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <%= f.label :numero, "Numéro", :class => 'control-label text-right col-md-3' %>
                                            <div class="col-md-9">
                                                <%= f.input :numero, :class => 'form-control',  :required => true, :label => false %> <small class="form-control-feedback"> Saisisser le numero de la nouvelle plateforme que vous allez créer </small>                                       
                                            </div>
                                        </div>
                                    
                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="offset-sm-3 col-md-9">
                                                        <%= f.submit "Créer", :class => 'btn btn-themecolor'%>
                                                        <button type="button" class="btn btn-inverse">Annuler</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End PAge Content -->
            </div>
