<%= flash[:notice] %>
<div class="container-fluid">
                <!-- Start Page Content -->
    <div class="row">
        <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h4>Details sur la plateforme </h4>

                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Intitulé</th>
                                                <th class="special">Contenu</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><span class="badge badge-warning">Nom de la plateforme</span></td>
                                                <td class="special"> <%= @plateforme.nom%> </td>
                                            </tr>
                                            <tr>
                                                <td><span class="badge badge-warning">Siège de la plateforme</span></td>
                                                <td class="special"> <%= @plateforme.siege%> </td>
                                            </tr>
                                            <tr>
                                                <td><span class="badge badge-warning">Ministère suivi par la plateforme</span></td>
                                                <td class="special"> <%= @plateforme.ministere.nom%> </td>
                                            </tr>
                                            <tr>
                                                <td><span class="badge badge-warning">Email de la plateforme</span></td>
                                                <td class="special"> <%= @plateforme.email%> </td>
                                            </tr>
                                            <tr>
                                                <td><span class="badge badge-warning">Numéro de la plateforme</span></td>
                                                <td class="special"> <%= @plateforme.numero%> </td>
                                            </tr>
                                            <tr>
                                                <td><span class="badge badge-warning">Description de la plateforme</span></td>
                                                <td class="special"> <%= @plateforme.description%> </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
    </div>
</div>                    