
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    
                    
                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                            <div class="card-header">
                                <h4 class="m-b-0 text-white">Formulaire de création d'ajout d'une nouvelle activité (<small>Vérifiez les informations saisies avant de valider</small>)</h4>
                            </div>
                            <div class="card-body m-t-50">
                            <%= simple_form_for @commentaire do |f| %>
                                    <div class="form-body">
                                        
                                        <div class="form-group row">
                                            <%= f.label :content, "Contenu du commentaire", :class => 'control-label text-right col-md-3' %>
                                            <div class="col-md-9">
                                                <%= f.input :content, :class => 'form-control',  :required => true, :label => false,  :input_html => { :cols => 50, :rows => 7 }  %> <small class="form-control-feedback"> Saisisser ici le contenu du commentaire que vous allez créer </small>                                       
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <%= f.label :resultat_attenu_id, "Ligne de matrice", :class => 'control-label text-right col-md-3' %>
                                            <div class="col-md-9">
                                               <%= f.collection_select(:matrice_id, Matrice.all, :id, :annee, :class => 'form-control') %>
                                             <small class="form-control-feedback"> Choisissez la ligne de matrice à laquelle  rattacher la nouveau commentaire</small>   
                                            </div>
                                        </div>
                                        
                                        
                                    
                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="offset-sm-3 col-md-9">
                                                        <%= f.submit "Créer", :class => 'btn btn-themecolor'%>
                                                        <button type="button" class="btn btn-inverse">Annuler</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End PAge Content -->
            </div>
