
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    
                    <div class="col-lg-12">
                    	<div class="card-header bg-warning center">
                                <h2 class="m-b-0 text-white">Modification</h2>
                    	</div>
                        <div class="card card-outline-info">

                            <%= simple_form_for @activite do |f| %>
                            <div class="card-header">
                                <h4 class="m-b-0 text-white">Formulaire de modification des informations sur l'action (<small>Vérifiez les informations saisies avant de valider</small>)</h4>
                            </div>
                            <div class="card-body m-t-50">
                                    <div class="form-body">
                                        <div class="form-group row">
                                            <%= f.label :nom, "Nom", :class => 'control-label text-right col-md-3' %>
                                            <div class="col-md-9">
                                                <%= f.input :nom, :class => 'form-control', :label => false, :required => true %>
                                                <small class="form-control-feedback"> Modifier le nom de l'activité </small>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <%= f.label :resulat_attenu_id, "Résultat attendu", :class => 'control-label text-right col-md-3' %>
                                            <div class="col-md-9">
                                               <%= f.collection_select(:resultat_attenu_id, ResultatAttenu.all, :id, :nom, :class => 'form-control') %>
                                             <small class="form-control-feedback"> Choisissez le résultat attendu auquel rattacher l'activité</small>   
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <%= f.label :description, "Description", :class => 'control-label text-right col-md-3' %>
                                            <div class="col-md-9">
                                               <%= f.text_area :description, :class => 'form-control', :label => false, :required => true,  :rows => "20", style: 'width:100%' %> <small class="form-control-feedback"> Modifier la description de l'activité </small>  
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <%= f.label :début, "Date de début de la période potentielle d'éxécution de l'activité", :class => 'control-label text-right col-md-3' %>
                                            <div class="col-md-9">
                                            	<%= f.input :debut, as: :date, start_year: Date.today.year - 0,
                              						end_year: Date.today.year + 50, order: [:day, :month, :year], :label => false, :use_month_numbers => true, :use_two_digit_numbers => true, :date_separator => ' / ' %> <small class="form-control-feedback"> Modifiez la date début de la période potentielle d'éxécution de l'activité que vous allez créer </small>                                       
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <%= f.label :fin, "Date de fin de la période potentielle d'éxécution de l'activité", :class => 'control-label text-right col-md-3' %>
                                            <div class="col-md-9">
                                            	<%= f.input :fin, as: :date, start_year: Date.today.year - 0,
                              						end_year: Date.today.year + 50, order: [:day, :month, :year], :label => false, :use_month_numbers => true, :use_two_digit_numbers => true, :date_separator => ' / '  %> <small class="form-control-feedback"> Modifiez la date de fin de la période potentielle d'éxécution de l'activité que vous allez créer </small>                                       
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <%= f.label :date_activite, "Date exacte de début d'éxécution de l'activité", :class => 'control-label text-right col-md-3' %>
                                            <div class="col-md-9">
                                            	<%= f.input :date_activite, as: :date, start_year: Date.today.year - 0,
                              						end_year: Date.today.year + 50, order: [:day, :month, :year], :label => false, :use_month_numbers => true, :use_two_digit_numbers => true, :date_separator => ' / '  %> <small class="form-control-feedback"> A ne renseigner qu'une fois l'activité rééllement démarré </small>                                       
                                            </div>
                                        </div>
                                    
                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="offset-sm-3 col-md-9">
                                                        <%= f.submit "Mise à jour", :class => 'btn btn-themecolor'%>
                                                        <button type="button" class="btn btn-inverse">Annuler</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End PAge Content -->
            </div>
