
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    
                    
                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                            <div class="card-header">
                                <h4 class="m-b-0 text-white">Formulaire de création d'ajout d'une nouvelle activité (<small>Vérifiez les informations saisies avant de valider</small>)</h4>
                            </div>
                            <div class="card-body m-t-50">
                            <%= simple_form_for @activite do |f| %>
                                    <div class="form-body">
                                        <div class="form-group row">
                                            <%= f.label :nom, "Nom", :class => 'control-label text-right col-md-3' %>
                                            <div class="col-md-9">
                                                <%= f.input :nom, :class => 'form-control', :label => false, :required => true %>
                                                <small class="form-control-feedback"> Saisisser ici le nom de l'activité que vous voulez créer</small>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <%= f.label :description, "Description", :class => 'control-label text-right col-md-3' %>
                                            <div class="col-md-9">
                                                <%= f.input :description, :class => 'form-control',  :required => true, :label => false,  :input_html => { :cols => 50, :rows => 7 }  %> <small class="form-control-feedback"> Saisisser ici une brève description de l'activité que vous allez créer </small>                                       
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <%= f.label :resultat_attenu_id, "Resultat Attendu", :class => 'control-label text-right col-md-3' %>
                                            <div class="col-md-9">
                                               <%= f.collection_select(:resultat_attenu_id, ResultatAttenu.all, :id, :nom, :class => 'form-control') %>
                                             <small class="form-control-feedback"> Choisissez le résultat attendu auquel rattacher la nouvelle activité</small>   
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <%= f.label :début, "Date de début de la période potentielle d'éxécution de l'activité", :class => 'control-label text-right col-md-3' %>
                                            <div class="col-md-9">
                                            	<%= f.input :debut, as: :date, start_year: Date.today.year - 0,
                              						end_year: Date.today.year + 50, order: [:day, :month, :year], :label => false, :use_month_numbers => true, :use_two_digit_numbers => true, :date_separator => ' / ' %> <small class="form-control-feedback"> Choississez la date début de la période potentielle d'éxécution de l'activité que vous allez créer </small>                                       
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <%= f.label :fin, "Date de fin de la période potentielle d'éxécution de l'activité", :class => 'control-label text-right col-md-3' %>
                                            <div class="col-md-9">
                                            	<%= f.input :fin, as: :date, start_year: Date.today.year - 0,
                              						end_year: Date.today.year + 50, order: [:day, :month, :year], :label => false, :use_month_numbers => true, :use_two_digit_numbers => true, :date_separator => ' / '  %> <small class="form-control-feedback"> Choississez la date de fin de la période potentielle d'éxécution de l'activité que vous allez créer </small>                                       
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <%= f.label :date_activite, "Date exacte de début d'éxécution de l'activité", :class => 'control-label text-right col-md-3' %>
                                            <div class="col-md-9">
                                            	<%= f.input :date_activite, as: :date, start_year: Date.today.year - 0,
                              						end_year: Date.today.year + 50, order: [:day, :month, :year], :label => false, :use_month_numbers => true, :use_two_digit_numbers => true, :date_separator => ' / '  %> <small class="form-control-feedback"> A ne renseigner qu'une fois l'activité rééllement démarré </small>                                       
                                            </div>
                                        </div>
                                        
                                    
                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="offset-sm-3 col-md-9">
                                                        <%= f.submit "Créer", :class => 'btn btn-themecolor'%>
                                                        <button type="button" class="btn btn-inverse">Annuler</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End PAge Content -->
            </div>
