<%= flash[:notice] %>
<div class="container-fluid">
                <!-- Start Page Content -->
    <div class="row">
        <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h4>Details sur l'activité </h4>

                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Intitulé</th>
                                                <th class="special">Contenu</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><span class="badge badge-warning">Nom de l'activité</span></td>
                                                <td class="special"> <%= @activite.nom%> </td>
                                            </tr>
                                            <tr>
                                                <td><span class="badge badge-warning">Résultat attendu comprenant l'activité</span></td>
                                                <td class="special"> <%= @activite.resultat_attenu.nom%> </td>
                                            </tr>
                                            <tr>
                                                <td><span class="badge badge-warning">Date de début de la période potentielle d'éxécution</span></td>
                                                <td class="special"> <%= @activite.debut.strftime("%d / %m / %Y")%> </td>
                                            </tr>
                                            <tr>
                                                <td><span class="badge badge-warning">Date de fin de la période potentielle d'éxécution</span></td>
                                                <td class="special"> <%= @activite.debut.strftime("%d / %m / %Y")%> </td>
                                            </tr>
                                            <tr>
                                                <td><span class="badge badge-warning">Date réelle de début d'éxécution de l'activité</span></td>
                                                <td class="special"> <%= @activite.debut.strftime("%d / %m / %Y")%> </td>
                                            </tr>
                                            <tr>
                                                <td><span class="badge badge-warning">Description de l'activité</span></td>
                                                <td class="special"> <%= @activite.description%> </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
    </div>
</div>                    