<%= flash[:notice] %>
<div class="container-fluid">
                <!-- Start Page Content -->
    <div class="row">
        <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h4>Details sur l'action </h4>

                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Intitulé</th>
                                                <th class="special">Contenu</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><span class="badge badge-warning">Nom de l'action</span></td>
                                                <td class="special"> <%= @acte.nom%> </td>
                                            </tr>
                                            <tr>
                                                <td><span class="badge badge-warning">Programme comprenant l'action</span></td>
                                                <td class="special"> <%= @acte.programme.nom%> </td>
                                            </tr>
                                            

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
    </div>
</div>                    