<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="#">
    <title>Open Goverenance Tool</title>

    <link href="css/lib/chartist/chartist.min.css" rel="stylesheet">
	<link href="css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <!-- Bootstrap Core CSS -->
    <link href="css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body class="fix-header fix-sidebar">
   <!-- Main wrapper  -->
    <div id="main-wrapper">

	  <%= render partial: 'shared/header' %>
	  <%= render partial: 'shared/sidebar' %>
      <div class="page-wrapper">
         <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-12 align-self-center">
                    <h3 class="text-primary" style="text-align:center">Outils de suivi de l'éxécution du budget programme et du budget titre des Ministères</h3> </div>
              <!--  <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div> -->
            </div>
            <!-- End Bread crumb -->
         <!-- Container fluid  -->
        <div class="container-fluid">
          <!-- Start Page Content -->
            <%= yield %>
          <!-- End PAge Content -->
        </div>
        <!-- End Container fluid  -->
        <!-- footer -->
        <%= render partial: 'shared/footer' %>

        <!-- End footer -->
      </div>
      <!-- End Page wrapper  -->
    </div>

  </body>
</html>
